* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.main-title-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust height as needed, 100vh for full viewport height */
  padding: 20px;
  background-color: #f0f0f0; /* Add your desired background color/effect */
}

.main-title-icon {
  flex: 0 1 auto; /* adjust your image container size */
  margin-right: 20px; /* Add space between image and text */
}

.main-title-text h1 {
  margin: 0;
  font-size: 2rem; /* Adjust your font size */
  color: #333; /* Adjust your font color */
}

.main-title-text p {
  font-size: 1.5rem; /* Adjust your font size */
  color: #666; /* Adjust your font color */
}

/* Down arrow CSS */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
}

#scroll-arrow { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg03.jpg) center center / cover no-repeat;}

.scroll-area a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(-50%, -50%);
  color: #17557A;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.scroll-area a:hover {
  opacity: .5;
}

#scroll-arrow a {
  padding-top: 60px;
}
#scroll-arrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #17557A;
  border-radius: 100%;
  box-sizing: border-box;
}
#scroll-arrow a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #17557A;
  border-bottom: 1px solid #17557A;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#scroll-arrow a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 se#4cd3fc;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px #4CC8FC;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px #4CC8FC;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.title-arrow-container, .about-me-arrow-container {
  position: absolute;
  bottom: 2vh;
  width: 100%;
}

#about-me {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100vh; /* Keep this as height to ensure the navbar functionality works */
  background-color: #f0f0f0;
  box-sizing: border-box;
}

#about-me .about-me-profile-container {
  position: relative;
  flex: 1;
  max-width: 400px; /* Adjust as needed */
}

#about-me .about-me-profile-container img {
  width: 80%; 
  border-radius: 4px;
  box-shadow: 10px -10px 10px rgba(0, 0, 0, 0.2); /* Creates the shadow effect */
}

#about-me .about-me-text-container {
  flex: 1;
  max-width: 600px; /* Adjust as needed */
  padding-right: 10rem; /* Adds space between the image and text */
  
}

.about-me-text-container h1 {  
  font-size: 2rem; /* Adjust your font size */
  color: #333; /* Adjust your font color */
  margin-bottom: 1.5rem;
}

.about-me-text-container p {
  font-size: 1.5rem; /* Adjust your font size */
  color: #666; /* Adjust your font color */
  margin-bottom: 1.5rem;
}

/* NavBar.css */
nav.hidden {
  top: -100%; /* Hide the navbar */
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333; /* Dark background for the navbar */
  padding: 10px 0; /* Some padding top and bottom */
  z-index: 100; /* Ensures the navbar is on top of other elements */
}

nav ul {
  list-style: none; /* Removes default list styling */
  display: flex;
  justify-content: center; /* Centers the navigation links */
  padding: 0;
}

nav ul li {
  margin: 0 20px; /* Spacing between each nav item */
}

nav ul li a {
  text-decoration: none; /* Removes underline from links */
  color: white; /* Light text color for contrast */
  font-size: 18px; /* Adjust the size as needed */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li a:hover {
  color: #4cd3fc; /* Light blue color on hover */
}

.projects-header p {
  font-size: 1.4rem; /* Adjust your font size */
  color: #666; /* Adjust your font color */
}

.projects-header strong {
  font-size: 1.5rem; /* Adjust your font size */
  color: #17557A; /* Adjust your font color */
}

#my-projects {
  position: relative;
  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows: auto 1fr; /* Adjust the height of the header */
  padding: 2rem;
  height: 100vh;
  background-color: #f0f0f0;
  box-sizing: border-box;
  grid-gap: 20px; /* Adjust the gap between grid items */
}

.projects-header {
  padding: 5rem 20rem;
  grid-area: header;  
  text-align: justify;
}

.projects-content {
  padding-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  grid-area: content;
  display: grid;
  grid-template-areas:
    "projects tech";
  grid-template-columns: 2fr 1fr; /* 2/3 for projects, 1/3 for tech */
  grid-gap: 20px; /* Adjust the gap between grid items */
}


/* Since we are now using grid directly in the #my-projects, we don't necessarily need .projects-content to have display: contents; */
.projects-grid {
  grid-area: projects;
  /* Additional styling for projects grid here */
}

.tech-background {
  grid-area: tech;
  text-align: justify;  
}

.tech-background p {
  font-size: 1.2rem; /* Adjust your font size */
  padding: 1rem 0;
  color: #666; /* Adjust your font color */
}

.tech-background strong {
  font-size: 1.2rem; /* Adjust your font size */
  color: #e45b24; /* Adjust your font color */
}

/* Add media query for responsiveness if needed */
@media (max-width: 768px) {
  #my-projects {
    grid-template-areas:
      "header"
      "projects"
      "tech";
    grid-template-columns: 1fr; /* Stack items on smaller screens */
  }
}

.project-tile {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-thumbnail {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the area without stretching */
}

.project-title {
  margin: 0.5em;
  font-size: 1.2em;
}

.project-description {
  margin: 0.5em;
  font-size: 1em;
  color: #666;
}

.project-technologies {
  list-style: none;
  padding: 0;
  margin: 0.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-technologies li {
  background: #e4e4e4;
  padding: 0.2em 0.5em;
  border-radius: 2px;
  font-size: 0.8em;
}

.project-link {
  display: block;
  text-align: center;
  margin: 1em;
  padding: 0.5em 0;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

/* Hover states for the link */
.project-link:hover {
  background: #0056b3;
}
