@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.main-title-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: #121212;
  overflow: hidden;
}

.main-title-icon {
  flex: 0 1 auto;
  margin-right: 20px;
}

.main-title-text h1 {
  margin: 0;
  font-size: 2rem;
  color: #f0e6e6;
}

.main-title-text p {
  font-size: 1.5rem;
  color: #666;
}

/* Down arrow CSS */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
}

/* #scroll-arrow {
  background: url(https://www.nxworld.net/example/css-scroll-down-button/bg03.jpg) center center / cover no-repeat;
} */

.scroll-area a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(-50%, -50%);
  color: #17557A;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.scroll-area a:hover {
  opacity: .5;
}

#scroll-arrow a {
  padding-top: 60px;
}

#scroll-arrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #17557A;
  border-radius: 100%;
  box-sizing: border-box;
}

#scroll-arrow a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #17557A;
  border-bottom: 1px solid #17557A;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#scroll-arrow a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 se#4cd3fc;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px #4CC8FC;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px #4CC8FC;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.title-arrow-container, .about-me-arrow-container {
  position: absolute;
  bottom: 2vh;
  width: 100%;
}

#about-me {
  font-family: 'Roboto', sans-serif;  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 75vh;
  background-color: #e2e2e2;
  box-sizing: border-box;
  border-bottom: 2px solid #ccc;
  box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2);
}

#about-me .about-me-profile-container {
  position: relative;
  flex: 1;
  max-width: 400px;
}

#about-me .about-me-profile-container img {
  width: 80%; 
  border-radius: 140px;
  /* box-shadow: 10px -10px 10px rgba(0, 0, 0, 0.2); */
}

#about-me .about-me-text-container {
  flex: 1;
  max-width: 600px;
  padding-right: 10rem;
  
}

.about-me-text-container h1 {  
  font-size: 4.5rem;
  font-weight: 700;
  color: #1f1e1e;
  margin-bottom: 1.5rem;
}

.about-me-text-container p {
  font-size: 1.1rem;
  color: #444343;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  max-width: 400px;
  text-align: justify;
  hyphens: auto;
}

/* NavBar.css */
nav.hidden {
  top: -100%;
  transition: top 0.3s;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #121212;
  padding: 10px 0;
  z-index: 100; /* Ensures the navbar is on top of other elements */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 30px;
}

nav ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #4cd3fc;
}

.projects-header p {
  font-size: 1.4rem;
  color: #1f1e1e;
}

.projects-header strong {
  font-size: 1.5rem;
  color: #17557A;
}

#my-projects {
  font-family: 'Roboto', sans-serif;
  position: relative;  
  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows: auto 1fr;
  padding: 2rem;
  height: 80vh;
  background-color: #f0f0f0;
  box-sizing: border-box;
  grid-gap: 20px;
  padding-bottom: 50rem;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.projects-header {  
  padding: 5rem 20rem;
  grid-area: header;  
  text-align: justify;
}

.projects-content {
  padding-top: 3rem;  
  padding-left: 5rem;
  padding-right: 5rem;
  grid-area: content;
  display: grid; 
  grid-template-areas: "projects";
  grid-template-columns: 1fr;
  grid-gap: 10px;
}


.projects-grid {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  max-width: 100%;
}


.project-tile {  
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;  
  border: 1px solid #97a5ad;  
  border-radius: 5px;
  overflow: hidden;  
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 350px;
  width: 500px;  
  padding: 20px;
}

.project-thumbnail {
  padding: 2rem;  
  max-width: 100%;
  max-height: 50px;  
  object-fit: cover;
  justify-content: center;
}

.project-title {
  margin: 10px 10px 0 10px;
  padding: 1em;
  text-align: center;
  font-size: 1.2em;
  background: #e7e7eb;
}

.project-description {
  flex-grow: 1;
  margin: 0.5em;
  padding-top: 2rem;
  font-size: 1em;
  color: #666;
}

.project-technologies {
  list-style: none;  
  padding: 1em;
  padding-bottom: 1em;
  margin: 0 10px 0 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background: #e7e7eb;
}

.project-technologies li {
  font-family: 'Source Code Pro', monospace;  
  background: #58a5d3;
  padding: 0.2em 0.5em;
  border-radius: 2px;
  font-size: 0.9em;
  color: #fff;
  border-bottom: 3px solid #3c83ad;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.project-links {
  margin-top: auto;
  text-align: right;
  margin-top: 20px;
}

.project-links a {
  display: inline-block;
  font-weight: bold;
  margin: 0 10px;
  padding: 8px 16px;  
  color: #3c83ad;
  text-decoration: none;
  background-color: #0572b1;
  color: #fff;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.project-links .github-btn {
  background-color: rgb(48, 48, 49);
}

.project-links a:hover {
  background-color: #022133;
  color: #e0e3e6; 
}

.tech-background {
  grid-area: tech;
  text-align: left; 
  max-width: 350px;   
}


.tech-background p {
  font-size: 1.2rem; 
  .project-link:hover {
    background: #0056b3;
  }
  padding: 1rem 0;
  color: #fff;
}

.tech-background strong {
  font-size: 1.2rem;
  color: #e45b24;
}

.contact-me {
  font-family: 'Roboto', sans-serif;
  background-color: #b4b0b0;
  color: #1f1e1e;
  padding: 40px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-with-icons {
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.contact-info h2 {
  font-size: 2rem;
  margin-bottom: 0.5em;
  
}

.contact-info p {
  margin-bottom: 1em;
  max-width: 400px;
}

.contact-icons {  
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

.contact-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px; /* Space between icons */
  width: 40px; /* Icon size */
  height: 40px;
}

.contact-icons img {
  max-width: 100%;
  max-height: 100%;
}

.avatar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.dialog-bubble {
  font-family: 'Roboto', sans-serif;
  color: #0572b1;
  position: absolute;
  top: 10%;
  left: 53%;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 7px;
  white-space: nowrap;  
}

.copy-right {
  margin-top: 20px;
  padding-right: 150px;
  font-size: 1rem;
}

/* Responsive design */
@media (max-width: 1605px){
  #my-projects {
    display: block;
    padding: 2rem;
    min-height: 100vh;
    overflow-y: auto;
  }

  .projects-header {
    text-align: center;
    padding: 10% 5%;
    margin-top: 15%;
  }

  .projects-content {
    width: 100%;
    padding: 1rem 0;
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .projects-header p, .project-description {
    word-wrap: break-word;
  }

  .project-tile {
    width: 500px;
    margin: 10px 0;
  }

  .dialog-bubble {
    position: absolute;
    top: 15%;
    left: 65%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    white-space: nowrap;  
  }
}

@media only screen 
  and (min-width: 800px) and (max-width: 915px) 
  and (min-height: 360px) and (max-height: 412px) 
  and (orientation: landscape) { 

    .title-arrow-container {
      position: absolute;
      bottom: -9vh;
      width: 100%;
  }

  .about-me-text-container h1 {
    font-size: 2.5rem;
    font-weight: 700;   
    margin-top: 4.2rem 
  }

  .about-me-text-container p {
    font-size: 1rem;
    line-height: 1.2;
    margin-top: 1.5rem;
  }

}

@media (max-width: 768px) { 

  .main-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
  }

  .main-title-icon img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .main-title-text h1,
  .main-title-text p {
    text-align: center;
    font-size: 6vw;
  }

  .title-arrow-container {
    position: absolute;
    bottom: 10%;
    width: 100%;
  }

  .scroll-area a {
    position: relative;
    transform: translateX(-50%);
  }

  #about-me {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  #about-me .about-me-profile-container {
    display: none;
  }

  #about-me .about-me-text-container {
    text-align: justify;
    margin-top: 15%;
    padding: 5% 0%;
    hyphens: auto;
  }

  .about-me-arrow-container {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
  }

  #about-me-arrow {
    position: absolute;
    left: 30%;
    bottom: 5%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  #about-me-arrow .scroll-area a {
    position: relative;
    transform: none;
    z-index: 2;
  }

  nav {    
    background-color: #333;
  }

  nav ul {        
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 60px;
  }

  nav ul li {
    margin: 0 10px;
  }

  nav ul li a {    
    color: white;
    font-size: 16px;
    padding: 5px 10px;
  }

  #my-projects {
    display: block;
    padding: 2rem;
    min-height: 100vh;
    overflow-y: auto;
  }

  .projects-header {
    text-align: justify;
    padding: 10% 5%;
    margin-top: 15%;
  }

  .projects-content {
    width: 100%;
    padding: 1rem 0;
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Ensure text doesn't overflow its container */
  .projects-header p, .project-description {
    word-wrap: break-word;
  }

  .project-tile {
    width: auto;
    margin: 10px 0;
  }

  .contact-me {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .info-with-icons,
  .copy-right {
    align-self: stretch;
    text-align: center;
    padding: 10px 0;
  }

  .contact-info h2 {
    font-size: 1.5rem;
  }

  .contact-info p {
    font-size: 0.9rem;
  }

  .contact-icons a {    
    width: 35px; /* Slightly smaller icon size for mobile */
    height: 35px;
  }

  .avatar-container {
    display: none;
  }

  .copy-right {
    font-size: 0.65rem;
    padding: 0;
  }
}
